/* Font */
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

/* Body structure */ 
* {
    margin: 0;
    padding: 0;
    border: none;
}

body, html {
    font-family: Kalam, sans-serif;
    font-weight: 400;
    color: black;
}

h1, h2, h3 {
    color: black;
    letter-spacing: 1px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

/* Logo and navigiation bar */
#logo {
    float: left;
    font-size: 200;
    color: black
}

#nav-bar {
    font-size: 120%;
    letter-spacing: 1px;
    display: flex;
    justify-content: flex-end;
}

#nav-bar li {
    float: right;
    list-style-type: none;
    margin-right: 2em;
}

#nav-bar a {
    text-decoration: none;
    color: inherit;
}

#nav-bar a:hover {
    border-bottom: 1px solid black;
}

.active-border {
    border-bottom: 1px solid black;
}

#nav-bar, #logo {
    line-height: 75px;
}

/* Hero image */ 
#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.jpeg) no-repeat center center;
}

/* About Yoga Club */
#intro-style {
    text-align: center;
    font-size: 1.5rem;
}

#about-us ul {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-left: 30px;
    text-align: left;
}

/* Classes section, style for images from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_opacity */

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 2px;
}

.container {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    height: auto;
    transition: .5s;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .8s;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    color: black;
    font-size: 1.25rem;
  }

    /* Styling for table */

table, th, td {
    border: 1px solid;
}
    
table {
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}
    
#table-styling {
    margin-left:auto; 
    margin-right:auto;
    margin-top: 30px;
    font-size: 1.5rem;
}
/* form section */

#form-align {
    text-align: center;
}
    
.fields {   
    width: 25%;
    height: 30px;
    border: 1px solid black;
    display: inline-flex;
}
    
#classes-select{
    width: 25%;
    height: 30px;
    border: 1px solid black;
}
    
label {
    display:flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 1.5rem;
}
    
input[type=submit] {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 1.5rem;
    font-family: Kalam, sans-serif;
    color: black;
    background-color: transparent;
}

.bg-image {
    background-image: url(../images/bg-image.jpg);
    width: 100%;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}

/* Contact us section*/ 

