/* Font */
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

/* Body structure */ 
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Kalam, sans-serif;
    color: black;
    font-size: 1.5rem;
}

h1, h2, h3 {
    letter-spacing: 1px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.75rem;
}

/* Logo and navigiation bar */

#logo {
    float: left;
    font-size: 3rem;
    color: black;
}

#nav-bar {
    letter-spacing: 1px;
    display: flex;
    justify-content: flex-end;
}

#nav-bar li {
    float: right;
    list-style-type: none;
    margin-right: 1.5rem;
    
}

#nav-bar a {
    text-decoration: none;
    color: inherit;
}

#nav-bar a:hover {
    border-bottom: 1px solid black;
}

#nav-bar, #logo {
    line-height: 75px;
}

/* Hero image */ 
#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.jpeg) no-repeat center center;
    background-color: blanchedalmond;
}

/* About Yoga Club */
#intro-style {
    text-align: center;
}

#align-p {
    text-align: left;
}

#about-us ul {
    margin-top: 10px;
    margin-left: 30px;
}

/* Classes section, style for images from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_opacity */

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 2px;
}

.container {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    height: auto;
    width: auto;
    transition: .5s;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .8s;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }

  .text {
    font-size: 1.3rem;
  }

    /* Styling for table */

table, th, td {
    border: 1px solid;
}
    
table {
    text-align: center;
    margin-bottom: 20px;
}
    
#table-styling {
    margin-top: 20px;
    margin-left:auto; 
    margin-right:auto;
}
/* form section */

#form-align {
    text-align: center;
}
    
.fields {   
    width: 25%;
    height: 30px;
    border: 1px solid black;
    display: inline-flex;
}
    
#classes-select{
    width: 25%;
    height: 30px;
    border: 1px solid black;
}
    
label {
    display:flex;
    justify-content: center;
    margin-top: 10px;
}
    
input[type=submit] {
    font-size: 30px;
    font-family: Kalam, sans-serif;
    background-color: transparent;
    margin-top: 25px;
    border: 2px solid black;
    padding-left: 5px;
    padding-right: 5px;
}

.bg-image {
    background: url(../images/bg-image-form.jpg) no-repeat center center;
    width: 100%;
    height: 600px;
    background-color: blanchedalmond;
}

/* Contact us section*/ 

#address-center {
    margin-top: 15px;
    text-align: center;
  }

  #contact-email {
    color: black;
  }

  /* Footer styling */

  #footer-style {
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  .fa {
    color: black;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
  }

/* Media queries to make site responsive on small devices  */

@media screen and (max-width:1200px) {
   
    #nav-bar li {
        float: left;
        margin-right: 1rem;
    }

    #nav-bar {
        float: right;
        flex-direction: column;
        line-height: 30px;
    }
    
    #table-styling {
        width: 75%;
    }

    .fields, #classes-select {
        width: 50%;
    }

    header {
        height: 130px;
    }

    #table-styling {
        font-size: 1rem;
    }
}

    @media screen and (max-width:950px) {
    .row {
        flex-direction: column;
    }

    .container {
        width: 100%;
    }

    .text {
        font-size: 1rem;
    }
}
